@import "styles/heading.css";
@import "styles/buttons.css";
@import "styles/nav.css";
@import "styles/popup.css";
@import "styles/inputs.css";
@import "styles/burger.css";
@import "styles/1header.css";
@import "styles/2welcome-section.css";
@import "styles/3about-us-section.css";
@import "styles/4projects-section.css";
@import "styles/5services-section.css";
@import "styles/6feedback-section.css";
@import "styles/7gallery.css";
@import "styles/8contacts.css";
@import "styles/9footer.css";

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    height: 100%;
}

.body-fixed {
    overflow: hidden;
}

section,
.container {
    margin: 0 auto;
    width: 1400px;
    padding-left: 125px;
    padding-right: 125px;
}

.margin-top-section {
    margin-top: 150px;
}

.services-margin-top-section {
    margin-top: 150px;
}

.black-container {
    background-color: #000;
    color: #fff;
    min-width: 1400px;
}

button {
    background-color: #fff;
    font-family: inherit;
    cursor: pointer;
}

@media (max-width: 1199px) {
    section,
    .container {
        width: 100%;
        max-width: 960px;
        padding-left: 17px;
        padding-right: 15px;
    }

    .margin-top-section {
        margin-top: 120px;
    }

    .services-margin-top-section {
        margin-top: 100px;
    }

    .black-container {
        width: 100%;
        min-width: auto;
    }
}

@media (max-width: 767px) {
    section,
    .container {
        width: 100%;
        min-width: auto;
        padding-left: 13px;
        padding-right: 12px;
    }

    .margin-top-section {
        margin-top: 80px;
    }

    .black-container {
        width: 100%;
        min-width: auto;
        padding-left: 13px;
        padding-right: 12px;
    }
}