.about-us__description {
    margin-bottom: 35px;
    max-width: 1048px;
    font-size: 45px;
    line-height: 61px;
}

.about-us__link {
    display: inline-block;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    color: #fff;
    background-color: #ad1818;
    font-size: 20px;
    text-decoration: none;
}

@media (max-width: 1199px) {

    .about-us__description {
        margin-bottom: 30px;
        max-width: 690px;
        font-size: 35px;
        line-height: 48px;
    }

    .about-us__link {
        padding: 23px 40px 23px 40px;
    }
}

@media (max-width: 767px) {
    .about-us__description {
        margin-bottom: 30px;
        width: 100%;
        max-width: 550px;
        font-size: 22px;
        line-height: 30px;
    }

    .about-us__link {
        padding: 14px 27px 14px 27px;
        border-radius: 5px;
        color: #fff;
        background-color: #ad1818;
        font-size: 16px;
        text-decoration: none;
        transition: all 0.2s;
    }
}