.project {
    margin-bottom: 90px;
}

.project__image {
    margin-bottom: 15px;
    width: 100%;
}

.project__title {
    margin-bottom: 13px;
    font-size: 30px;
    line-height: 41px;
}

.project__link {
    font-size: 20px;
    line-height: 27px;
    color: #ad1818;
    text-decoration: none;
}

@media (max-width: 1199px) {
    .project {
        margin-bottom: 80px;
    }

    .project__image {
        margin-bottom: 15px;
    }

    .project__title {
        margin-bottom: 9px;
        font-size: 25px;
        line-height: 34px;
    }

    .project:last-child {
        margin-bottom: 98px;
    }
}

@media (max-width: 767px) {
    .project {
        margin-bottom: 49px;
    }

    .project__image {
        margin-bottom: 20px;
    }

    .project__title {
        font-size: 18px;
        line-height: 25px;
    }

    .project__link {
        font-size: 16px;
        line-height: 22px;
    }
}