.contacts {
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contacts p {
    position: relative;
    font-size: 60px;
    line-height: 60px;
    
}

.contacts a {
    text-decoration: none;
    color: #121212;
}

.contacts__mail a {
    opacity: 0.5;
    padding-bottom: 10px;
    border-bottom: 2px solid #121212;
}

.contacts__tel:before {
    position: absolute;
    top: -49px;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../resources/telephone.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contacts__mail:before {
    position: absolute;
    top: -49px;
    left: 0;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../resources/telega.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 1199px) {
    .contacts p {
        font-size: 45px;
    }
}

@media (max-width: 767px) {
    .contacts {
        flex-direction: column;
        align-items: start;
        gap: 58px;
    }

    .contacts p {
        font-size: 35px;
        line-height: 46px;
    }

    .contacts__mail {
        margin-left: 0;
        border-bottom: none;
    }


    .contacts__tel:before {
        width: 18px;
        height: 18px;
        top: -40px;
    }

    .contacts__mail:before {
        width: 18px;
        height: 18px;
        top: -40px;
    }
}