.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 87px;
}

.nav {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.nav__link {
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}

.nav__link:hover {
    opacity: 0.5;
}

.footer-title {
    font-size: 20px;
    line-height: 27px;
    opacity: 0.5;
}

@media (max-width: 1199px) {
    .footer-title {
        opacity: 0.5;
    }
}

@media (max-width: 767px) {
    .footer {
        padding-top: 30px;
        padding-bottom: 26px;
        gap: 41px;
    }

    .nav {
        width: 281px;
    }

    .nav__link {
        font-size: 12px;
        line-height: 16px;
    }

    .footer-title {
        font-size: 13px;
        line-height: 18px;
    }
}