.feedback-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}

.feedback {
    width: calc(50% - 25px);    
}

.feedback:last-child:nth-child(odd) {
    width: calc(50% + 25%);
}

.feedback__title {
    font-size: 45px;
    line-height: 61px;
}

.feedback__text {
    font-size: 22px;
    line-height: 30px;
}