.feedback-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}

.feedback {
    width: calc(50% - 25px);    
}

.feedback:last-child:nth-child(odd) {
    width: calc(50% + 25%);
}

.feedback__title {
    font-size: 45px;
    line-height: 61px;
}

.feedback__text {
    font-size: 22px;
    line-height: 30px;
}

@media (max-width: 1199px) {
    .feedback {
        width: calc(50% - 5px);
    }

    .feedback__title {
        font-size: 35px;
        line-height: 48px;
    }

    .feedback__text {
        font-size: 20px;
        line-height: 27px;
    }
}

@media (max-width: 767px) { 
    .feedback {
        min-width: 100%;
        
    }
}

