.nav {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.header-__nav a {
    color: #121212;
}

.nav__link {
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}

.nav__link:hover {
    opacity: 0.5;
}

@media (max-width: 1199px) {
    .header-section__nav {
        display: none;
    }
}

@media (max-width: 767px) {
    .nav {
        width: 281px;
    }

    .nav__link {
        font-size: 12px;
        line-height: 16px;
    }
}