.nav {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    color: #121212; 
}

.nav__link {
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}

.nav__link:hover {
    opacity: 0.5;
}

.underline-for-link {
    position: relative;    
}

.underline-for-link::after {
    position: absolute;
    content: '';
    width: 0;
    background-color: #121212;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    transition: width 0.5s;
}

.underline-for-link:hover::after {
    width: 100%;
}

@media (max-width: 1199px) {
    .header__nav {
        display: none;
    }
}

@media (max-width: 767px) {
    .nav {
        width: 281px;
    }

    .nav__link {
        font-size: 12px;
        line-height: 16px;
    }
}