@media (max-width: 1199px) {

    .container {
        margin-bottom: 120px;
        width: 960px;
        padding-left: 17px;
        padding-right: 15px;
    }

    .main-inner__title {
        margin-bottom: 30px;
        width: 802px;
        font-size: 50px;
        line-height: 60px;
    }

    .about-us__description {
        margin-bottom: 30px;
        width: 690px;
        font-size: 35px;
        line-height: 48px;
    }
    
}